.features-title{
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

.features-subtitle{
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}
.features-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    font-weight: 500;
}

.features {
    padding: 96px 0;
}

.features-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
}
 .features-item {
    width: 100%;
 }

 .features-icon-box {
    width: 264px;
    height: 112px;
    display: none;
    justify-content: center;
    align-items: center;

    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
 }

 @media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .features-subtitle{
    text-align: left;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
 }
  .features-icon-box {
    display: flex;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .features-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .features {
    padding: 120px 0;
  }

  .features-text
  {
    font-weight: 400;
  }
  }
