.hero {
    background-color:#2E2F42;
}
 
.hero-title{
    color: #FFFFFF;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-button {
background-color:#4D5AE5;
color: #FFFFFF;

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
font-weight: 500;
cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
     background-color: #404BBF;
}
